<!DOCTYPE html>
<html>
  <head>
    <% if(filename){ %>
    <link rel="icon" href="/<%= filename %>.svg" />
    <% } %>
  </head>
  <body>
    <a href="/<%= filename %>.svg"><%= filename %>.svg</a>
    <img src="/<%= filename %>.svg", alt="<%= filename %> Favicon">
  </body>
</html>
